<p>
  <mat-toolbar class="login">
    <span>Log In</span>
  </mat-toolbar>
</p>
<div class="bigBox">
  <div class="firstBox">
    <mat-card>
          <mat-card-title-group>
            <mat-card-title>Waiters</mat-card-title>
            <mat-card-subtitle>Time to Work</mat-card-subtitle>
          </mat-card-title-group>
          <div class="one">
            <div class="three">
              <input matInput />
              <input matInput type="password" />
              <button mat-flat-button color="primary" routerLink="/waiters">
                Get In
              </button>
            </div>
            <div class="two">
              <!--<img mat-card-lg-image src="./assets/usuario.png" class="usuario" />-->
            </div>
          </div>
        </mat-card>
    <div>
      <p>
        <mat-card>
          <mat-card-title-group>
            <mat-card-title>Head Kitchen</mat-card-title>
            <mat-card-subtitle>Time to Work</mat-card-subtitle>
          </mat-card-title-group>
          <div class="one">
            <div class="three">
              <input matInput />
              <input matInput type="password" />
              <button mat-flat-button color="primary" routerLink="/kitchen">
                Get In
              </button>
            </div>
            <div class="two">
          <!-- <img mat-card-lg-image src="./assets/clave.png" class="llave" />-->
            </div>
          </div>
        </mat-card>
      </p>
    </div>
  </div>

  <mat-card class="image">
    <img mat-card-lg-image src="./assets/logo.png" class="logo" />
  </mat-card>
</div>

<mat-toolbar class="footer" color="primary">Burguer Queen Work APP</mat-toolbar>
